body {
    background-image: url("/assets/images/background.jpg");
    padding-top: 40px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 10px 0px;
}